{%extends 'printapp/base.html'%}
<!DOCTYPE html> {%load static%}{%block title_block%}stamps chitrography{%endblock%}{%block content%}
<div id="shopping" class="container" style="align:">

    <div class="card-deck row row-cols-2 row-cols-md-4" style="margin-top: 90px; ">


        <div class="card col col-lg-3 col-sm-3 col-xs-3 " style="margin-top: 20px;">

            <div class="card-body ">

                <!-- <a href="p.get_absolute_url">-->

                <a href="#">
                    <img src="{{con.productimage.url}}  " class="card-img-top " alt="... ">

                    <div class="card-footer ">

                        <h5 class="card-title ">{{con.name}}</h5>
                        <small class="text-muted "> &nbsp;{{con.price}}</small>
                    </div>
                </a>
            </div>
        </div>


    </div>
</div>
{%endblock%}