{%extends 'printapp/base.html'%}
<!DOCTYPE html> {%load static%}{%block title_block%}PK chitrography{%endblock%} {%block content%} <br>

<br>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home/#shopping">Home</a></li> &nbsp;

            <li class="breadcrumb-item active" aria-current="page">Stamps</li>
        </ol>
    </nav>
    <div class="row row-cols-2 row-cols-md-5" style="margin-top:40px ; margin-bottom:40px ">
        {%if product%}{%for p in product%}
        <div class="col mb-4">
            <div class="carde h-100">
                <img src="{{p.productimage.url}}" class="card-img-top" alt="...">
                <div class="card-bodye">
                    <h5 class="card-titlee">{{p.name}}</h5>
                    <p class="card-text">{{p.price}}</p>
                </div>
            </div>
        </div>{%endfor%}{%endif%}

    </div>
</div> {%endblock%}